html, body {/* overflow-x: hidden; */scroll-behavior: smooth;}
.frist{
	margin-right: 0px !important;
	position: relative;
}
body{
	background-color: #000;
    overflow-x: hidden;
}

#hero2 {
  background: url(../images/7_n5pkpAp.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero2{
  text-align: center;
  position: relative;
  width: 100%;
}
.inner1 {
  position: relative;
}
.copy1 {
 /* position: absolute;
  top: 40%;
  height: 10em;
  margin-top: -4em;*/
  width: 100%;
  background-color: #000;
  padding: 15px;
}
.hero2 .main-list{
  height: 140px;
}
.img_size,.img_size_new,.shutter_img_1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_size,.img_size_new1,.shutter_img_1{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}
.shutter_img {
  display: flex;
  align-items: end;
  justify-content: end;
}
.shutter_img_1 img{
  height: 15vh;
}
.shutter_img img{
  height: 40vh;
}

.img_size img{
  height: 140px;
}
img.newimg_size{
  height: 115px;
}
.img_size_new img{
  height: 115px;
  position: absolute;
  top: 110px;
}
.img_size_new1 img{
  height: 105px;
  position: absolute;
  top: 145px;
  right: 120px;
}
.margin_top{
  margin-top: 5rem!important;
}
.min-p{
	text-align: justify;
    color: #fff;
    position: relative;
    left: 50%;
    z-index: 99;
    font-size: 20px;
    font-weight: 300;
    font-family: Didot;
    font-style: italic;
    width: 75%;
}

.min-img{
	display: flex;
	justify-content: center;
}

.des-sec{
	position: absolute;
	top: 35%;
}
.main-p2{
	position: relative;
	z-index: 99;
	color: #fff;
	left: unset;
	padding-left: 40px;
	font-size: 25px;
	font-weight: 100;
	text-align: left !important;
	font-style: italic;
	top: unset;
}
@font-face {
 src: url(../fonts/Didot.ttc);
 src: url(../fonts/DINLiA.ttf);
}
.img-hed{
	position: absolute;
    top: 11%;
    left: 12%;
    color: #fff;
    font-family: Didot;
    /*font-family: 'GFS Didot', serif;*/
    font-style: italic;
    font-weight: 100;
    font-size: 55px;
}
.img-hed1 {
    position: absolute;
    top: 11%;
    left: 24%;
    color: #fff;
    font-family: Didot;
    font-style: italic;
    font-weight: 100;
    font-size: 55px;
}
.img-left{
	position: relative;
	top: unset;
	color: #fff;
	left: unset;
	font-size: 15px;
	font-family: DIN;
	letter-spacing: 1px;
}
.des-img{
	padding: 35px 121px 30px;
}
.des-img p{
	color: #fff;
	font-weight: 100;
  font-size: 15px;
  font-family: DIN;
  letter-spacing: 1px;
}


/*img grid css */
.flex-column {
            max-width: 260px;
        }
        
    .flex-column img{
    	margin: 5px;
    }    
        .scale {
            transform: scaleY(1.05);
            padding-top: 5px; 
        }

#hero1 {
  background: url(../images/50_k71b7Eb.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.hero, .content {
  text-align: center;
  position: relative;
  width: 100%;
}

.inner {
  min-height: 600px;
  position: relative;
}

.hero .inner {
  /*background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;*/
}

.copy {
  position: absolute;
  top: 40%;
  /*height: 10em;*/
  margin-top: -5em;
  width: 100%;
  background-color: #000;
  padding: 20px;
}

.hero h1, .hero p {
  color: #fff;
}

.content h1, .content p {
  color: #333;
}
.main-top h1{
	color: #fff;
  font-family: DIN;
	font-style: italic;
	font-size: 65px;
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
}
.min-top-sec{
	position: absolute;
	top: 30%;
	left: 10%;
  font-size: 16px;
  font-family: DIN;
  letter-spacing: 1px;
}
.min-top-sec p{
	color: #fff;
}
.last-p{
	font-style: italic;
}
.hed-last{
	position: relative;
	left: 10%;
	top: 0%;
	color: #fff;
	font-weight: 200;
	font-size: 40px;
  font-family: Didot;
	font-style: italic;
	margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  .hed-last {
    left: 4% !important;
  }
}
.hed-p-last{
	position: relative;
	left: 6%;
	top: 4%;
	color: #fff;
  font-family: DIN;
	font-weight: 100;
	font-size: 15px;
	padding: 13px 26px 32px;
  letter-spacing: 1px;
}
.pag-p p{
  color: #fff;
  font-weight: 100;
  font-size: 18px;
  padding: 10px 75px 0px;
  font-family: DIN;
  letter-spacing: 1px;
}
.f-hed{
  color: #fff;
  position: absolute;
  font-family: Didot;
  font-style: italic;
  font-size: 35px;
  font-weight: 200;
  top: 10%;
  left: 15%;
}
.image-column {
    position: relative;
}
.image-column .inner-column {
    position: relative;
   /* padding-left: 120px;*/
    padding-bottom: 125px;
    background-image: url(../images/color-smoke.png);
}
.about-section .image-column .image-1 {
    position: relative;
}
.image-column .image-2 img,.image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8,13,62,.15);
}
.image-column .image-2 {
    position: absolute;
    left: 296px;
    bottom: -6px;
    right: -92px;
}
.image-column .image-3 img,.image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8,13,62,.15);
}
.image-column .image-3 img,.image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8,13,62,.15);
}
.image-column .image-3 {
    position: absolute;
    left: 151px;
    bottom: -66px;
    right: 49px;
}
.image-column .image-3 img,.image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8,13,62,.15);
}

.fp-p p{
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  padding: 5px 175px 0px 0px;
}
.va-hed{
  color: #fff;
  font-size: 40px;
  font-weight: 100;
}
.va-min{
  color: #fff;
  font-size: 90px;
  font-weight: 100;
  font-style: italic;
  font-family: Didot;
  text-align: center;
  position: relative;
  left: 20%;
}
.img-cat{
  margin-left: 142px;
  margin-top: 10px;
  width: auto;
}
.img-fluid.main-last {
    margin-top: 110%;
}
.main-red{
  margin-left: 46px;
  margin-top: 2px;
  width: 112px;
}
.fp-p{
  /*margin-top:198px;*/
  font-family: DIN;
}

.img_1{
  height: 150px;
}
.img_2{
  height: 160px;
}
.img_3{
  height: 120px;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 767px){
	.min-p {
	    left: 7% !important;
	    top: 80% !important;
      margin-top: 117px;
	}
  .img-cat{
    margin-left: 251px;
    margin-top: 2px;
    width: 88px;
    height: auto !important;
  }
  .img-min{
    width: 224px;
    margin-top: 67px;
  }
  
  .des-img {
    padding: 20px;
  }
  
  .main-last {
    margin-top: 11px !important;
  }
  .main-het{
    margin-top: 88px;
  }
  .main-list{
    width: 100px;
  }
  .hero2 .main-list{
    height: auto;
  }
 
  
  .inner {
    min-height: 400px!important;
    position: relative;
  }
  
  .min-top-sec {
    padding: 20px;
  }
  .main-red{
    margin-left: 236px !important;
    margin-top: 2px;
    width: 87px !important;
  }
  .pag-p p {
    padding: 10px 51px 0px !important;
  }
  .va-min {
    font-size: 22px !important;
    left: 0% !important;
  }
  .image-column .image-2 {
    left: 143px !important;
    right: -22px !important;
    bottom: -69px !important;
  }
  .image-column .image-3 {
    left: 15px !important;
    right: 58px !important;
    bottom: -106px !important;
  }
  .fp-p {
    margin-top: 208px !important;
  }
  .fp-p p {
    padding: 5px 35px 0px!important;
  }
  .img_size_new img {
    height: 39px !important;
    position: absolute;
    top: -29px !important;
    right: 35px !important;
}
.img_size_new1 img {
    height: 39px !important;
    position: absolute;
    top: -285px!important;
    right: 35px !important;
}
.img_size img {
    height: 48px !important;
}
.main-top h1 {
    font-size: 45px !important;
}
}


/*Dibakar 17_07_2021*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw;
    min-width: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
}
.gal_outer{
    padding: 60px 0;
    overflow-x: hidden;
}

.vimeo-wrapper {
    overflow: hidden;
    height: calc(100vh - 178px);
    display: flex;
    align-items: center;
}

.gallery_outer a img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .gallery_outer a {
     background: #fff;
     height: 300px;
     width: 100%;
 }
 .gallery_outer .row {
    padding: 0;
}
.gallery_outer.container{padding: 0 10px !important;}

 .gallery_outer li:nth-child(3) a, .gallery_outer li:nth-child(6) a {
     height: 135px;
 }

 .gallery_outer li {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-bottom: 30px;
 }

 .gallery_outer li:nth-child(3) a:last-child, .gallery_outer li:nth-child(6) a:last-child {
     margin-top: 30px;
 }
 .offer_cnt li {
    font-size: 18px;
    color: #fff;
    font-family: DIN;
    line-height: 28px;
    padding: 15px 0;
    list-style: none;
    border-bottom: 1px solid #fff;
}

.offer_cnt ul {
    padding: 0;
    margin: 0;
}

.signature_btm {
    display: block;
    padding-top: 60px;
}
.offer_cnt li:first-child {
    padding-top: 0;
}
.offer_cnt li:last-child {
    border: 0;
}
.signature_btm p, .signature_btm em {
    display: block;
    font-size: 18px;
    font-family: DIN;
    color: #fff;
    line-height: 30px;
    margin: 0;
}

.signature_btm em {
    letter-spacing: 3px;
}

.fndmntl {
    background-size: cover;
}

.wht_logo {
    max-width: 160px;
    margin-left: auto;
    margin-right: 40px;
}

.wht_logo img {
    width: 100%;
    height: auto;
    margin: 0;
}
.scssc_outer {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 100px 0 200px;
}

.scssc_cnt h3 {
    font-family: DIN;
    color: #fff;
    line-height: 50px;
    font-style: italic;
    font-size: 40px;
    letter-spacing: 4px;
}
.lets_talk_outer .va-min {
    text-align: left;
    left:unset;
}
.lets_talk_outer .signature_btm {
    padding-top:0;
}
.scssc_cnt a {
    color: #fff;
    text-decoration: none;
}


.contact_outer {
    padding: 100px 0;
}

.heading_contact h1 {
    font-weight: 100;
    font-style: italic;
    font-family: Didot;
    color: #fff;
    font-size: 60px;
}

.form_outer .form-group .form-control {
    background-color: transparent;
}

.form_outer .form-group input.form-control {
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
}

.form_outer .form-group .form-control::placeholder {
    color: #fff;
    font-size: 18px;
}

.form_outer .form-group textarea.form-control {
    height: 200px;
    resize: none;
    color: #fff;
    font-size: 18px;
}

.btn_submit {
    background: #fff;
    width: 150px;
    height: 60px;
    padding: 0;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000;
}
.header_outer.shrink {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #000;
}
.menu_items > ul {display: flex;align-items: center;padding: 0;margin:0;}

.menu_items ul li {
    list-style: none;
}

.menu_items ul li a {
    font-size: 14px;
    color: #fff;
    padding: 7px 12px;
    display: block;
    text-decoration: none;
}
.drop_outer li {
    background: #000;
    margin: 0;
}
ul.drop_outer {
    position: absolute;
    opacity: 0;
    padding: 39px 0 0;
    pointer-events: none;
}

.header_outer {
    position: relative;
    z-index: 9999;
}

.drop_outer li a {
}

.menu_items ul li a:hover {
    background: #1b1b1b;
}
#three .img-hed1 {
    position: relative;
    top: unset;
    left: unset;
}
.logo_main {
    width: 200px;
}

.logo_main a {
    display: block;
}

.logo_main img {
    width: 100%;
}

.header_outer nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.menu_items ul li:hover .drop_outer {
    opacity: 1;
    pointer-events: all;
}
.toggle_btn {
    display: none;
    width: 30px;
    height: 20px;
    padding: 0;
    border: 0;
    background: transparent;
    position: relative;
    line-height: 20px;
}

.toggle_btn span {
    display: block;
    height: 2px;
    background: #fff;
    width: 100%;
}

.toggle_btn:before {content: "";position: absolute;width: 100%;left: 0;top: 0;background: #fff;height: 2px;}

.toggle_btn:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #fff;
    height: 2px;
}
@media(min-width:1025px){
    .padding_rt_custom {
        padding-right: 200px;
    }
    
    .margin_custom {
        max-width: 272px;
        margin-left: auto;
        margin-top: -250px;
    }
}
@media(min-width:1199px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1350px !important;
    }
}
@media(min-width:575px) and (max-width:767px){
    .container, .container-lg, .container-md, .container-sm, .container-xl{
        max-width:560px !important;
    }
}
@media(max-width:1024px){
    .logo_main {
        width: 130px;
    }
    .vimeo-wrapper {
        height: auto;
    }
    .vimeo-wrapper iframe {
        height: 53vw;
        min-width: auto;
        min-height: 50vh;
    }
    .img-fluid.main-last {
        margin-top: 10px;
    }
    .img_size_new, .img_size_cmn, .img_size_new1, .img_size, .main-red, .shutter_img_1 {
        display: none;
    }
    .img_size {
        display: block;
        
    }
    .menu_items ul li a {
        font-size: 15px;
        padding: 10px 16px;
    }
    .min-p {
        position: relative;
        left: unset;
        font-size: 18px;
        padding: 10px 0;
    }
    .des-img {
        padding: 70px 10px;
    }
}
@media(max-width:767px){
    .toggle_btn {
        display: block;
    }
    .toggle_btn:focus {
        border: 0;
        outline: none;
        box-shadow: none;
    }
    .menu_items > ul.open {
        width: 50%;
    }
    .menu_items > ul {
        transition: all ease-in-out 0.3s;
        position: absolute;
        width: 0%;
        overflow:hidden;
        height: 100vh;
        background: #000;
        right: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .img-hed1 {
        left: unset;
        top: unset;
        position: relative;
    }
    .min-top-sec {
        top: unset;
        left: unset;
        position: relative;
    }
    .copy img {
        width: 70%;
        height: auto;
    }
    .copy {
        position: relative;
        top: unset;
        margin: 0;
        padding:80px 20px;
    }
    div#foure {
        padding: 200px 0;
    }
}
 
 @media(max-width:575px){
     .gallery_outer li:nth-child(3) a, .gallery_outer li:nth-child(6) a, .gallery_outer a {
        height: auto;
    }
    .menu_items > ul.open {
        width: 80%;
        padding: 40px;
    }
    .vimeo-wrapper {
        height: auto;
    }
    .vimeo-wrapper iframe {
        min-height: auto;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        padding: 0 15px;
    }
    .hed-last {
        left: unset;
        top: unset;
        margin-bottom: 0;
    }
    .hed-p-last {
        padding: 10px 0 0;;
    }
 }
/*Dibakar 17_07_2021*/


